@tailwind base;
@tailwind components;
@tailwind utilities;

.custom{
    width: 40px;
    height: 40px;
    border-radius: 10%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.display_none{
    display: none;
}

.bg {
    @apply bg-black dark:bg-white
}

.text {
    @apply text-white w-5 h-5
}