@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.inknut-antiqua-regular {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

.inknut-antiqua-medium {
  font-family: "Inknut Antiqua", serif;
  font-weight: 500;
  font-style: normal;
}

.inknut-antiqua-semibold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
}

.inknut-antiqua-bold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
}

.inknut-antiqua-extrabold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 800;
  font-style: normal;
}

.inknut-antiqua-black {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-style: normal;
}

.bg-primary {
  @apply bg-[#5200FF];
}

.bg-secondary {
  @apply bg-slate-200 dark:bg-gray-950 text-gray-950 dark:text-slate-100;
}

.text-primary {
  @apply text-gray-950 dark:text-slate-100;
}
body {
  @apply bg-secondary text-primary h-[100%];
  font-family: "Inknut Antiqua", serif;
  overflow-x: hidden;
}

.bg-tertiary {
  @apply bg-gray-950 dark:bg-slate-100 text-white dark:text-gray-950;
}

.btn {
  @apply text-white w-[100%] text-xs md:w-[75px] md:text-xs lg:w-[100px] h-[40px] rounded-sm flex justify-center items-center border border-white dark:border-gray-950;
}

.text-secondary {
  @apply text-slate-100 dark:text-gray-950;
}

.mobile-nav {
  @apply text-sm w-[70%] absolute top-[100%] right-0 py-2;
}

.desktop-nav {
  @apply lg:gap-20;
}

.tablet-nav {
  @apply md:w-auto md:gap-10 md:flex md:relative md:py-0;
}

.nav-item {
  @apply p-3 md:p-0;
}

.cards {
  @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-10;
}

.text_lg {
  @apply text-[1rem] md:text-[1.5rem] lg:text-[2rem];
}

.text_md {
  @apply text-[0.75rem] md:text-[1rem] lg:text-[1.5rem];
}

.text_sm {
  @apply text-[0.6rem] md:text-[0.75rem] lg:text-[1rem];
}

#scroll ::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

#scroll ::-webkit-scrollbar-thumb {
  background: #0000ff;
  -webkit-border-radius: 1ex;
}

#scroll ::-webkit-scrollbar-corner {
  background: #fff3;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #fff3;
  border-radius: 1ex;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-400
  /* -webkit-border-radius: 1ex; */;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}
